.idea
__pycache__
*.py[co]
*,cover
*.coverage
*.bak
*.log
*~

# Compiled files
*.pot
*.mo

# Cython build directories
_pyxbld

# Code coverage output
*.cover

# Profiling output
profile_*.txt
profile.*

# Use the regexp syntax for the remaining entries
syntax: regexp

# Generated test files
^tests/data/output/.*\.html$
^tests/data/generated_source/[a-z]\w+\.py$
^benchmarks/.*?\.pyx$
